<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371961880470-s182i1paujvn7b5avdf87o2j6dnkcgsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371961880470-s182i1paujvn7b5avdf87o2j6dnkcgsv</string>
	<key>API_KEY</key>
	<string>AIzaSyBYQlhJCLZbQBcbaw2qsOH7-4IXstmlfqw</string>
	<key>GCM_SENDER_ID</key>
	<string>371961880470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nosachenko.ToDoListWithFireBase</string>
	<key>PROJECT_ID</key>
	<string>todolistfire-e615a</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistfire-e615a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371961880470:ios:0c3a913a20811a809ac7b7</string>
	<key>DATABASE_URL</key>
	<string>https://todolistfire-e615a.firebaseio.com</string>
</dict>
</plist>